<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
  </head>

  <body>
    <% if current_user %>
      Thank you for registering <%= current_user.email %>
    <% end %>
    <%= yield %>
  </body>
</html>
